:root {
    --bg-color: #05070a;
    --card-bg: rgba(15, 20, 30, 0.8); /* Más oscuro y sólido */
    --accent-color: #00fbff;
    --text-color: #ffffff;
    --font-main: 'Inter', sans-serif;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
                url('https://wallpaperaccess.com/full/3565573.png'); /* Fondo de GD */
    background-size: cover;
    background-attachment: fixed;
    color: var(--text-color);
    font-family: var(--font-main);
    margin: 0;
}

header {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.9), transparent);
}

h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
}

.highlight {
    color: var(--accent-color);
    text-shadow: 0 0 15px var(--accent-color);
}

#list-container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    gap: 15px;
    padding-bottom: 100px;
}

.level-card {
    background: var(--card-bg);
    border-left: 5px solid var(--accent-color); /* Franja de color al lado */
    border-radius: 10px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.level-card:hover {
    transform: scale(1.02);
    background: rgba(30, 40, 50, 0.9);
}

.level-info h3 {
    margin: 0;
    font-size: 1.8rem;
    color: var(--accent-color);
}

.btn-video {
    background: transparent;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn-video:hover {
    background: var(--accent-color);
    color: #000;
    box-shadow: 0 0 20px var(--accent-color);
}
